@import '../../style-lib/ui_lib.css';

.menu__mobile {
  display: flex;
  position: fixed;
  padding-top: 70px;
  flex-direction: column;
  margin-top: 0;
  height: 100%;
  z-index: 4;
  top: 0;
  left: -400px;
  bottom: 0;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.9);
  gap: 35px;
  transition: .5s;
}

.open {
  animation: moveToRight .5s ease-in-out;
  left: 0;
}

@keyframes moveToRight {
  0% {
      transform: translateX(-400px);
  }
  100% {
      transform: translateX(0px);
  }
}

@keyframes moveToLeft {
  0% {
      transform: translateX(0px);
      left: 0px;
  }
  100% {
      transform: translateX(-400px);
      left: -400px;
  }
}

.menu__mobile .menu__mobile-item,
.menu__mobile .lang {
  font-size: var(--font-size-accent);
}

.menu__mobile-item:visited {
  color: rgb(197, 244, 232);
}

@media (min-width: 768px) {
  .menu__mobile {
    display: none;
  }
}
