.menu__mobile {
  display: flex;
  position: fixed;
  padding-top: 70px;
  flex-direction: column;
  margin-top: 0;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0px;
  bottom: 0;
  width: 70%;
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
}
