@import '../../style-lib/ui_lib.css';

.create_post_block {
  position: relative;
  background-color: inherit;
}

.expand-block-height {
  height: 150px;
}

.wall_inputs {
  position: relative;
  height: 35px;
}

.profile__wall_photo_size {
  height: 30px;
  width: 30px;
  left: 0;
  top: 0;
}

.input-text-wall {
  position: absolute;
  width: calc(100% - 120px);
  line-height: 1;
  left: 40px;
  top: 0;
  font-size: 20px;
  border-width: 0;
  resize: none;
  background-color: transparent;
  outline: none;
}

.input-text-wall:focus,
.input-text-wall:active {
  border: none;
}

input[type="file"] { 
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.attach_file_btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: 0;
}

.attach_file_btn:hover {
  cursor: pointer;
}

.attach-svg {
  width: 25px;
  height: auto;
  fill: var(--text_very_secondary);
}

.wall-post-btn-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 15px;
  background-color: #038abf;
  border-radius: 10px;
  border: none;
  color: var(--header_links);
  font-size: 16px;
  font-weight: 600;
}

.wall-post-btn-container:hover {
  cursor: pointer;
}
