@import '../../style-lib/ui_lib.css';

.home {
  display: flex;
}

.home__wrapper {
  display: flex;
}

.home__filter {
  width: 20%;
  padding-top: 30px;
}

.home__filter-header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 10px;
  width: 75%;
}

.home__main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 80px;
  padding-top: 60px;
}

.typing-box {
  position: absolute;
  display: flex;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  padding-top: 25px;
  padding-bottom: 20px;
  color: var(--text_very_secondary);
}

.burger {
  display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .home__wrapper {
    flex-direction: column;
    margin-top: 90px;
  }

  .home__filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .home__filter-header {
    width: 80%;
  }
  
  .home__main {
    width: 100%;
  }
}

.svg-filter {
  width: 30px;
}
