.home {
  display: flex;
}

.home__wrapper {
  display: flex;
}

.home__filter {
  width: 300px;
}

.home__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 80px;
  padding-top: 40px;
}

.burger {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .home__wrapper {
    flex-direction: column;
  }

  .home__filter {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}
