.home {
  display: flex;
}

.home__wrapper {
  display: flex;
}

.home__filter {
  width: 20%;
  padding-top: 30px;
}

.home__filter-header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 10px;
}

.home__main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 80px;
  padding-top: 40px;
}

.burger {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .home__wrapper {
    flex-direction: column;
  }

  .home__filter {
    width: 100%;
  }

  .home__filter-header {
    width: 250px;
  }
  
  .home__main {
    width: 100%;
  }
}

.svg-filter {
  width: 30px;
}
