@import '../../style-lib/ui_lib.css';

.header {
  background-color: var(--header_color);
  display: block;
  width: 100%;
  height: 70px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--main_content_width);
  margin: 0 auto;
  height: 70px;
}

.burger-wrap {
  position: fixed;
  display: flex;
  left: 40px;
  transition: .7s;
  z-index: 5;
}

.menu {
  display: flex;
  padding-left: 0;
  flex-direction: row;
  gap: 20px;
}

.menu__link,
.menu__auth {
  text-decoration: none;
  color: var(--header_links);
  transition: .7s;
}

.menu__link:hover,
.menu__auth:hover {
  color: var(--header_links_hover);
}

@media (min-width: 0px) and (max-width: 319px) {
  .menu {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .menu {
    display: none;
  }

  .burger {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 32px;
    height: 27px;
    padding-left: 0px;
  }

  .burger__menu {
    height: 3px;
    background-color: aliceblue;
    width: 32px;
    margin: 3px;
  }

  .wrap {
    width: var(--main_content_width_mobile);
  }

  .animation {
    transform: rotate(180deg);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .wrap {
    width: var(--main_content_width_tablet);
  }
}
