:root {
  --header_color: #1d262d;
  --white: #ffffff;
  --header_links: #c7ebff;
  --header_links_hover: #c7ebffa3;
  --tag_background: #585654b4;

  --main_content_width: 1200px;
  --main_content_width_mobile: 300px;
  --main_content_width_tablet: 720px;

  --font-size-xs: 15px;
}
