@import '../../style-lib/ui_lib.css';

.lang__btn {
  border: none;
  background-color: transparent;
  opacity: .85;
  transition: .5s;
}

.lang-container {
  display: flex;
}

.lang__btn:hover {
  cursor: pointer;
  opacity: 1;
}

@media (min-width: 0px) and (max-width: 767px) {
  .lang-container {
    gap: 15px;
  }
}
