@import './style-lib/ui_lib.css';

.content-body {
  margin: 0 auto;
  z-index: -1;
}

.main {
  width: var(--main_content_width);
  margin: 0 auto;
  transition: .7s;
}

.hide-main {
  transition: .7s;
  transform: translateX(1000px);
}

@media (min-width: 320px) and (max-width: 767px) {
  .main {
    width: var(--main_content_width_mobile);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main {
    width: var(--main_content_width_tablet);
  }
}
